body {
  font-family: 'Arial', sans-serif;
  background-color: #f1f1f1;
  text-align: center;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-shadow: 2px 2px 4px #ddd;
}

h1,
h2,
label[for="wordsToRedact"],
label[for="replaceWith"] {
  color: #4CAF50;
}

.input-container,
#output-container {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

textarea,
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

#output-container {
  display: none;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

#clearButton {
  background-color: #ff6347;
}

#clearButton:hover {
  background-color: #ff5733;
}

#copyButton {
  background-color: #428bca;
}

#copyButton:hover {
  background-color: #357ebd;
}

input:focus,
textarea:focus {
  outline-color: #4CAF50;
}
